<div class="container">
    <div class="search">
        <form (ngSubmit)="onSearch()" class="formInp">
            <div class="platformSearch" (blur)="dropDown = false">
                <label for="platform">Platform</label>
                <input type="text" name="platform" id="platform" [(ngModel)]="searchInput" (input)="onInput()"
                    (focus)="dropDown = true" autocomplete="off">
            </div>
            <div class="dateSelect">
                <label for="startDate">Start Date</label>
                <input type="date" name="startDate" id="startDate" [(ngModel)]="startDate">
                <label for="endDate">End Date</label>
                <input type="date" name="endDate" id="endDate" [(ngModel)]="endDate" [disabled]="startDate === ''"
                    [min]="startDate">
            </div>
            
            <button type="submit" class="search-btn">Search</button>
        </form>
        
        @if (dropDown) {
                <div class="platformOptions">
                    @for (platform of filteredPlatforms; track $index) {
                    <div class="options" (click)="selectOption(platform)">
                        <input class="platform-{{platform}}" type="checkbox">
                        <label class="platformLabel" for="platform">{{ platform }}</label>
                    </div>
                    }
                </div>
                }
    </div>
    <div class="upcoming-container">
        @if(contests().length > 0){
        <table class="contests-table">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Contest Name</th>
                    <th>Platform</th>
                    <th>Start Time</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for(contest of contests(); track contest.id; let i = $index){
                <tr>
                    <td class="sno"> {{ i+1 }}</td>
                    <td class="contest-name"> <a [href]="contest.href" target="_blank">{{ contest.event }}</a></td>
                    <td class="contest-platform">{{ contest.resource.name.split('.')[0] }}</td>
                    <td class="contest-time">{{ contest.start }}</td>
                    <td class="contest-duration">{{ contest.duration/60 }} min</td>
                    <td class="add-calender">Add To Calender</td>
                </tr>
                }
            </tbody>
        </table>
        }
        @else if(isLoading()){
        <p>Loading Contests</p>
        }
        @else{
        <p>Please search for contests to add to calender</p>
        }

    </div>
</div>