*{
    color: white;
}
.calendar-container{
    padding: 1%;
    margin: 1%;
}
.calender-section{
    border: 0.75px solid white;
    border-radius: 0.5rem;
}
.week-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 0.2rem;
}

.weekday{
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0.4rem 0;
    color: #e8e6e6;
    border: 0.75px solid white;
    border-top: none;
    border-right: none;
}
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-grid {
  text-align: center;
  border: 0.75px solid white;
  height: 18vh;
  border-top: none;
  border-right: none;
  overflow: auto;
  scrollbar-width: thin;     
  scrollbar-color: rgb(85, 85, 85) transparent; 
}

.day-grid::-webkit-scrollbar-track {
  background: transparent;   
}

.day-grid::-webkit-scrollbar-thumb {
  background-color: black;  
  border-radius: 3px;       
}

.day-grid::-webkit-scrollbar {
  width: 0px;  
  height: 0px;
}

.day-grid:hover::-webkit-scrollbar {
  width: 6px;   
  height: 6px;
}

.day-grid:nth-last-child(-n + 7) {
  border-bottom: none;
}

.day-grid:nth-child(7n) {
  border-right: none;
}

.day-grid:nth-child(7n + 1) {
  border-left: none;
}

.day{
    color: #a9a7a7;
    font-size: 0.75rem;
    font-weight: 400;
}

.weekday:nth-child(7n) {
    border-right: none;
}

.weekday:nth-child(7n+1) {
    border-left: none;
}

.event{
    background-color: #4d4d52;
    color: white;
    margin: 0.75rem 0.5rem;
    padding: 0.725rem;
    border-radius: 0.25rem;
    font-size: 0.7rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;   
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-a{
    color: white;
    text-decoration: none;
}