.dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.welcome-card {
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 35px 20px;
}

.welcome-section {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.welcome-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 12px;
}

.welcome-subtitle {
  font-size: 1.1rem;
  color: #ffffffd0;
  margin-bottom: 14px;
}

.upcomingContests {
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 24px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.section-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
}

.refreshBtn,
.retryBtn {
  background: rgba(255, 255, 255, 0.12);
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;
}

.refreshBtn:hover,
.retryBtn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.viewAllBtn{
  background: rgba(255, 255, 255, 0.12);
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;
  margin : 0rem 1rem;
}

.error-container,
.empty-container {
  padding: 30px;
  text-align: center;
}

.error-message {
  color: #f87171;
  margin-bottom: 12px;
}


.empty-text {
  color: rgba(255, 255, 255, 0.6);
}


@media (max-width: 768px) {
  .navbar-container,
  .dashboard-container {
    padding: 20px;
  }

  .welcome-title {
    font-size: 1.7rem;
  }

  .navlinks {
    gap: 16px;
  }

  .contests-table th,
  .contests-table td {
    padding: 10px;
  }
}
